body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  min-height: 100vh;
  padding: 50px 25px;
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
}

.container {
  background: #fff;
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -20px 40px;
}
h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  padding: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: transparent;
  border: 2px solid #1bffbc;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 200ms ease;
}

button:hover {
  filter: hue-rotate(160deg);
}

form {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background: #eee;
  margin: 20px 0;
}

.input-text {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 25px;
}

.input-submit {
  border: none;
  outline: none;
  color: white;
  background-image: linear-gradient(
    to right,
    #dc1fff 0%,
    #1bffbc 50%,
    #dc1fff 100%
  );
  background-size: 200% auto;
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: 900;
  transition: all 300ms ease;
}

.input-submit:hover {
  background-position: right;
}

.reset {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 10px;
  width: fit-content;
}

.item-list {
  text-align: left;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  user-select: none;
  padding: 10px;
  word-break: break-all;
}

.item span,
.item i,
.reset {
  cursor: pointer;
}

.item-left {
  display: flex;
}

.item-text {
  padding: 0 10px;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: #999;
  text-decoration-thickness: 1px;
  color: #999;
}

.fa-xmark {
  line-height: 16px;
  padding: 4px;
  opacity: 0.8;
  transition: all 100ms ease;
}

.fa-xmark:hover {
  color: #1bffbc;
}

footer {
  padding: 20px 10px 0 10px;
  font-size: 12px;
}

footer a {
  color: #000;
  text-decoration: none;
  transition: all 100ms ease;
}

footer a:hover {
  font-weight: bold;
}

.hidden {
  display: none;
}

@media (max-width: 440px) {
  form {
    display: block;
    border-radius: 0;
    background-color: transparent;
  }

  .input-text {
    width: 100%;
    margin-bottom: 6px;
    background: #eee;
    padding: 10px 40px;
    border-radius: 30px;
    text-align: center;
  }

  .input-submit {
    width: 100%;
  }
}
