body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  min-height: 100vh;
  padding: 50px 25px;
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
}

.container {
  background: #fff;
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -20px 40px;
}
h1 {
  font-size: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background: #eee;
  margin: 20px 0;
}

.input-text {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 25px;
}

.input-submit {
  border: none;
  outline: none;
  color: white;
  background: #1bffbc;
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: 900;
}

.item-list {
  text-align: left;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

.fa-circle {
  opacity: 0.3;
}

.fa-circle-check {
  color: #1bffbc;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: #555;
  color: #555;
}

.fa-xmark {
  opacity: 0.8;
}

footer {
  padding: 20px 10px 0 10px;
  font-size: 12px;
}

footer a {
  color: #000;
  text-decoration: none;
  transition: all 150ms ease;
}

footer a:hover {
  font-weight: bold;
}
